/* Global */

:root {
    /* Allow transition to auto-height */
    interpolate-size: allow-keywords;
    /* Variables */
    --background-color: black;
    --secondary-background-color: rgb(18, 18, 18);
    --text-color: white;
    --secondary-text-color: rgb(203, 203, 203);
    --border-color: rgb(65, 65, 65);
}

body {
    font-family: "Open Sans", Helvetica, sans-serif, system-ui;
    background-color: var(--background-color);
    color: var(--text-color);
}

.section {
    padding: 3rem 0rem;
}

.container {
    max-width: 80rem;
    padding: 0rem 5rem;
}

button {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
}

/* Accordion */

.accordion {
    max-width: 50rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.accordion_item {
    background-color: var(--secondary-background-color);
    border: solid 1px var(--border-color);
    border-radius: 0.5rem;
}

.accordion_item.open .accordion_icon {
    transform: rotate(180deg);
}

.accordion_item.open .accordion_content {
    height: auto;
}

.accordion_toggle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    border-radius: 0.5rem;
    padding: 1rem;
    cursor: pointer;
    transition: 0.1s ease;
}

.accordion_toggle:hover {
    opacity: 0.75;
}

.accordion_toggle:focus {
    outline: 1px solid var(--text-color);
}

/* Hide outline for mouse clicks only */
.accordion_toggle:focus:not(:focus-visible) {
    outline: none;
}

.accordion_icon {
    width: 1.25rem;
    transition: 0.3s ease;
}

.accordion_content {
    height: 0;
    overflow: hidden;
    transition: 0.3s ease;
}

.accordion_content-inner {
    padding: 0rem 1rem 1rem 1rem;
    color: var(--secondary-text-color);
}