/* Page Styles */

.section {
    padding: 3rem 0rem;
}

.container {
    max-width: 80rem;
    padding: 0rem 5rem;
}

/* Accordion */
.accordion_component {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.accordion_item {
    padding: 0rem 1rem;
    border: solid 1px;
    border-radius: 0.5rem;
}

.accordion_toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
    cursor: pointer;
}

.accordion_icon {
    width: 1.25rem;
}

.accordion_icon.open {
    transform: rotate(180deg);
}

.accordion_content {
    display: none;
    padding-bottom: 1rem;
}

.accordion_content.open {
    display: block;
}